body{
    background-color: antiquewhite;
    padding: 10px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 900;
    margin-top: 10px;
    background-color: lightblue;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: lightblue;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightsalmon;
}
h4{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
}
h5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aqua;
}